/* First - sort out the fonts */
div.rotatingtweet {
	font-size: 100%;
}
p.rtw_meta,div.rtw_meta,div.rtw_meta_wide,div.rtw_name,div.rtw_id,div.rtw_time_short,div.rtw_rt_meta {
	font-size: 0.8em;
	line-height: normal;
}
div.rtw_wide_block div.rtw_name {
	font-size: 1.0em;
}

/* Now the icon sizing */
div.rtw_icon img {
	max-width: 2.2em;
	max-height: 2.2em;
}
div.rtw_intents img {
	max-width: 1.2em;
	max-height: 1.2em;
	padding: 0;
	margin: 0;
	display: inline;
}
div.rtw_wide_icon img {
	padding-top: 8%;
	padding-left: 0;
	margin-left: 0;
}
div.rtw_meta img,
div.rtw_rt_meta img {
	vertical-align: middle;
}
/* The main positioning */
.rtw_twitter_icon,
.rtw_time_short {
	float:right;
}
div.rtw_wide_icon,
div.rtw_icon {
	float:left;
	padding-right: 0.5em;
}
div.rtw_wide_icon {
	display: inline;
}
.rtw_wide_block .rtw_name,
.rtw_wide_block .rtw_id {
	display: inline;
}
.rtw_wide_block {
	padding-left: 58px;
}
div.rtw_intents {
	display: inline;
	float:right;
	margin-left: 0.5em;
}
.rotatingtweet p.rtw_main {
	clear: both;
}
.rtw_wide_block p.rtw_main,div.rtw_main {
	clear: none;
}

/* This sets the style for tweets in articles or posts */
#content .rotatingtweets  {
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	margin-bottom: 3%;
}

/* Now to get the vertical spacing right */
#content .rotatingtweet {
	padding-top: 0.7em;
	padding-bottom: 0.7em;
}

#content p.rtw_main,p.rtw_main,div.rtw_main {
	margin-bottom: 0.6em;
}

#content .rtw_wide p.rtw_main {
	margin-bottom: 0.35em;
}


p.rtw_meta,div.rtw_meta {
	margin-bottom: 1em;
}
#sidebar ul li div.rtw_name,div.rtw_name,div.rtw_name a {
	margin-bottom: 0;
	padding-bottom: 0;
}
#sidebar ul li div.rtw_id,div.rtw_id ,div.rtw_id a {
	margin-top: 0;
	padding-top: 0;
}
#sidebar ul li div.rtw_intents {
	margin-top: 0;
	padding-top: 0;
}
div.rtw_rt_meta {
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	padding: 0;
}

/* Twitter fonts */

/*
.rtw_main {
	font-family: Georgia,Palatino,serif;
}
.rtw_meta {
	font-family: 'Helvetica Neue', Arial, sans-serif;
}
.rtw_name a
{
	color: #333;
}
.rtw_id a
{
	color: #999;
}
.rtw_main a
{
	color: #444;
}
.rtw_main a,
.rtw_id a:hover
{
	text-decoration: none;
}
.rtw_main a:hover,
{
	text-decoration: underline;
}
*/